<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title th:text="${post.bookTitle}">BookTitle</title>
</head>
<body>
	<h2 th:text="${post.bookTitle}">${post.bookTitle}</h2>
	<div th:text="${post.content}">${post.content}</div>
	<div th:text="${post.createdAt}">${post.createdAt}</div>
	<a th:href="@{'/post/list'}">
		<button type="button">List</button>
	</a>
	<a th:href="@{/post/{postId}/edit(postId=${post.id})}"> <!-- ① -->
		<button type="button">Edit</button>
	</a>
	<a th:href="@{'/post/'+${post.id}+'/delete'}"> <!-- ② -->
		<button type="button">Delete</button>
	</a>
</body>
</html>
